.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollable-container {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

.scrollable-content {
  display: inline-flex;
  padding: 50px;
}

.list-item {
  min-width: 200px;
  min-height: 200px;
  background-color: #eee;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controls button {
  font-size: 20px;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.map-container {
  height: 400px; /* Imposta l'altezza desiderata della mappa */
  width: 100%;
  border: 1px solid #ccc; /* Aggiungi un bordo al container della mappa */
}